<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>

<body>
    <div class="header-container">
        <header id="header">
            <h1>Izzy Hall</h1>
        </header>
        <nav id="navbar">
            <button class="nav-button">Home</button>
            <button class="nav-button">About</button>
            <button class="nav-button">Portfolio</button>
            <button class="nav-button">Contact</button>
        </nav>
    </div>
    <div class="body-container">
        <p>Here's where I'll talk a bit about myself</p>
    </div>
</body>

</html>