<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<div class="header-container">
    <header id="header">
        <h1>Izzy Hall</h1>
    </header>
    <nav id="navbar">
        <button class="nav-button">Home</button>
        <button class="nav-button">About</button>
        <button class="nav-button">Portfolio</button>
        <button class="nav-button">Contact</button>
    </nav>
</div>
<div class="body-container">
    <form>
        a form will go here.
    </form>
</div>

<body>

</body>

</html>